{% extends "common/base.es.tpl.html" %}

{% block page_class %}landing-page{% endblock %}

{% block title %} - Principal{% endblock %}

{% block header_content %}
<section id="hero">
    <h1>Innova con Confianza</h1>
    <p>Asóciate con nuestro equipo de expertos para impulsar la innovación
        en tus proyectos más ambiciosos de Gráficos por Computador e
        Inteligencia Artificial.</p>
</section>
{% endblock %}

{% block main_content %}
<article id="about-us">
    <h2>Soluciones Personalizadas para tus Necesidades Únicas</h2>
    <p>En Cremaet Dynamics, entendemos que cada proyecto es único, con sus propios desafíos y oportunidades. Por eso,
        adoptamos un enfoque personalizado en investigación y desarrollo, combinando nuestra experiencia académica con
        la experiencia industrial para ofrecer soluciones innovadoras que se ajustan a tus requisitos específicos. Ya
        sea que necesites animación basada en física, renderizado en tiempo real, háptica, realidad aumentada y virtual,
        o inteligencia artificial, trabajaremos estrechamente contigo para entender tus necesidades y desarrollar una
        solución personalizada que supere tus expectativas.</p>
    <h2>Los Gráficos por Computador son nuestra Pasión</h2>
    <p>Nuestros fundadores, <a href="https://hecbarcab.github.io/">Héctor Barreiro-Cabrera↗</a> y <a
            href="https://www.thepenguincode.com/rosa">Rosa M. Sánchez-Banderas↗</a>, ambos doctores en
        Gráficos por Computador por la URJC Madrid, tienen varios años de experiencia y un historial verificable de
        publicaciones científicas en revistas de alto impacto. Su amplia experiencia colaborando con empresas y
        instituciones de investigación de primer nivel, incluyendo Meta, Ultraleap, SEDDI y Next Limit, les ha dado una
        comprensión profunda del campo y una pasión por llevarlo a sus límites. En Cremaet Dynamics, estamos dedicados a
        aplicar esta experiencia para ayudar a nuestros clientes a alcanzar sus objetivos.</p>
    <h2>Investigación y Desarrollo Colaborativos</h2>
    <p>Creamos que los mejores resultados provienen de la colaboración estrecha entre nuestro equipo y el tuyo. Por eso,
        hemos desarrollado un enfoque inmersivo único que integra a nuestros expertos de manera fluida con tu equipo,
        asegurando una comunicación eficiente, flujos de trabajo seguros y una innovación acelerada. Al trabajar juntos,
        podemos co-crear soluciones que se ajustan a tus requisitos exactos y superan tus expectativas. Nuestro objetivo
        es convertirnos en una extensión de tu equipo, no solo un proveedor – y ayudarte a alcanzar el éxito a través de
        nuestro enfoque colaborativo.</p>
</article>
<hr />
<section id="contact">
    <header>
        <h1><span>¿Quieres Saber Más?</span></h1>
        <p>Ponte en contacto con nosotros en <a
                href="mailto:contact@cremaetdynamics.com"><code>contact@cremaetdynamics.com</code></a> y hablemos sobre
            cómo podemos ayudarte.</p>
    </header>
</section>
{% endblock %}