{% extends "common/base.en.tpl.html" %}

{% block page_class %}landing-page{% endblock %}

{% block title %} - Home{% endblock %}

{% block header_content %}
<section id="hero">
    <h1>Innovate with Confidence</h1>
    <p>Partner with our team of experts to drive innovation<br />for your most ambitious Computer Graphics and
        AI projects.</p>
</section>
{% endblock %}

{% block main_content %}
<article id="about-us">
    <h2>Customized Solutions for Your Unique Needs</h2>
    <p>At Cremaet Dynamics, we understand that every project is unique, with its own set of challenges
        and
        opportunities. That's why we take a tailored approach to research and development, combining our
        academic expertise with industry experience to deliver innovative solutions that meet your
        specific
        requirements. Whether you need physics-based animation, real-time rendering, haptics, augmented
        and
        virtual reality, or artificial intelligence, we'll work closely with you to understand your
        needs
        and develop a customized solution that exceeds your expectations.</p>
    <h2>Computer Graphics is our Passion</h2>
    <p>Our founders, <a href="https://hecbarcab.github.io/">Héctor Barreiro-Cabrera↗</a> and <a
            href="https://www.thepenguincode.com/rosa">Rosa M. Sánchez-Banderas↗</a>, both PhD holders in
        Computer Graphics from URJC Madrid, have several years of experience and a proven track record
        of
        scientific publications in high-impact journals. Their extensive experience collaborating with
        top
        companies and research institutions, including Meta, Ultraleap, SEDDI, and Next Limit, has given
        them a deep understanding of the field and a passion for pushing its boundaries. At Cremaet
        Dynamics, we're dedicated to applying this expertise to help our clients achieve their goals.
    </p>
    <h2>Collaborative Research and Development</h2>
    <p>We believe that the best results come from close collaboration between our team and yours. That's
        why
        we've developed a unique immersive approach that integrates our experts seamlessly with your
        team,
        ensuring efficient communication, secure workflows, and accelerated innovation. By working
        together,
        we can co-create solutions that meet your exact requirements and exceed your expectations. Our
        goal
        is to become an extension of your team, not just a vendor – and to help you achieve success
        through
        our collaborative approach.</p>
</article>
<hr />
<section id="contact">
    <header>
        <h1><span>Want to Know More?</span></h1>
        <p>Contact us at <a href="mailto:contact@cremaetdynamics.com"><code>contact@cremaetdynamics.com</code></a> and
            let's discuss how we can help you.</p>
    </header>
</section>
{% endblock %}